version: '3.8'

services:
  event-management-ui:
    image: event-management-ui:1.0.0
    
    container_name: event-management-ui
    
    ports:
      - "3000:3000"
    
    environment:
      - NODE_ENV=production
      - REACT_APP_API_URL=http://31.97.70.3:80/event-manage
    
    restart: unless-stopped
    
    networks:
      - event-network
    
    healthcheck:
      test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost:3000"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    
    # Log configuration
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

networks:
  event-network:
    driver: bridge
